@{    
    //ViewBag.Title = @UIResources.ErrorPageTitle;
    ViewBag.Title = "ErrorPageTitle";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@*<h2>@UIResources.ErrorPageHeader</h2>*@
    <h2>ErrorPageHeader</h2>
<p>@ViewBag.ErrorMessage</p>